<html>
<head>
    <link href="https://cdn.jsdelivr.net/bootstrap/3.3.6/css/bootstrap.min.css" rel="stylesheet">
    <link href="main.css" rel="stylesheet">
</head>
<body>

Hola
<div id="content"></div>

<script id="add_task-hdbs" type="text/x-handlebars-template">
    <form id="task-form">
        <label for="name">Task name</label>
        <input type="text" name="name" id="name" maxlength="50" placeholder="50 characters or less" />
        <label for="notes">Notes</label>
        <textarea name="notes" id="notes" placeholder="optional" />
        <input type="hidden" name="project-id" id="project-id" value="your_project_id" />
        <input type="hidden" name="project-name" id="project-name" value="Tech Notes" />
        <button id="add-btn" class="btn btn-primary btn-small">Add Task</button>
    </form>
</script>

<script src="https://cdn.jsdelivr.net/jquery/3.0.0/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/handlebars.js/4.0.5/handlebars.min.js"></script>
<script type="text/javascript" src="https://assets.zendesk.com/apps/sdk/2.0/zaf_sdk.js"></script>
<script type="text/javascript" src="main.js"></script>
</body>
</html>